body,html {
    background-color: #ffe6e6;

}

h2 {
  font-family: 'Slackey', cursive;
  font-size: 6em;
  color: white;
  padding-left: 50px;
  margin-block-start: 10px;
  margin-block-end: 50px;
}

h1 {
  font-family: 'Aclonica', sans-serif;
  font-size: 7em;
  color: #7da6cf;
  padding-left: 270px;
  padding-right: 50px;
  margin-block-start: 0px;
  margin-block-end: 20px
}

p {
    font-family: 'Slackey', cursive;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    color: #ecf2f8;
    margin-left: 270px;
}

p:hover {
  color: #006699;
}

img {
  padding-right: 150px;
}

.marble {
   padding-left: 700px;
   position: relative;
   display: inline-block;
}

.marble .img-top {
    display: none;
    position: absolute;
    padding-left: 700px;
    top: 0;
    left: 0;
    z-index: 99;
}

.marble:hover .img-top {
        display: inline;
    }

.tooltip{
  position: relative;
  display: inline-block;
}

.tooltip .tooltipright{
  visibility: hidden;
  width: 700px;
  font-size: 20px;
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: white;
  color: #006699;
  text-align: center;
  border:2px solid white;
  border-radius: 30px;
  padding: 20px ;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 170%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 1%;
}

.tooltip:hover .tooltipright{
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  body {
  }
}
