body,html {
    background-image: url("pic/jar.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 35% 90%;
    background-color: #ffe6e6;
}

/* .jar img{
  width: 500px;
  height:800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 50px;

} */

h1 {
  margin-left: auto;
  margin-right: auto;
}

.tooltip{
  position: relative;
  display: inline-block;
}

.tooltip .tooltipright{
  visibility: hidden;
  width: 700px;
  font-size: 20px;
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: white;
  color: #006699;
  text-align: center;
  border:2px solid white;
  border-radius: 30px;
  padding: 20px ;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 170%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 1%;
}

.tooltip:hover .tooltipright{
  visibility: visible;
  opacity: 1;
}



@media only screen and (max-width: 600px) {
  body {
  }
}
