/* code reference:https://www.w3schools.com */

body,html {
    background-image: url("pic/jar.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 35% 90%;
    background-color: #ffe6e6;
}

h2 {
  font-family: 'Slackey', cursive;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding-left: 85%;
  padding-top: -10%;

}

.tooltip1{
  position: relative;
  display: inline-block;
}

.tooltip1 .tooltipright1{
  visibility: hidden;
  width: 100px;
  font-size: 20px;
  background-color: transparent;
  color: #006699;
  text-align: center;
  border:2px solid white;
  border-radius: 30px;
  padding: 20px ;
  position: absolute;
  z-index: 1;
  top: 47%;
  left: 70%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 1%;
}

.tooltip1:hover .tooltipright1{
  visibility: visible;
  opacity: 1;
}

.pink:hover circle{
  fill: #d65c5c;
}

/* ```````````````````````````````````````````````````````````````````````````````````````````````` */

.tooltip2{
  position: relative;
  display: inline-block;
}

.tooltip2 .tooltipright2{
  visibility: hidden;
  width: 100px;
  font-size: 20px;
  background-color: transparent;
  color: #006699;
  text-align: center;
  border:2px solid white;
  border-radius: 30px;
  padding: 20px ;
  position: absolute;
  z-index: 1;
  top: 220%;
  left: -40%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 1%;
}

.tooltip2:hover .tooltipright2{
  visibility: visible;
  opacity: 1;
}

.blue:hover circle{
  fill: #538cc6;
}

/* ```````````````````````````````````````````````````````````````````````````````````````````````` */

.tooltip3{
  position: relative;
  display: inline-block;
}

.tooltip3 .tooltipright3{
  visibility: hidden;
  width: 100px;
  font-size: 20px;
  background-color: transparent;
  color: #006699;
  text-align: center;
  border:2px solid white;
  border-radius: 30px;
  padding: 20px ;
  position: absolute;
  z-index: 1;
  top:435%;
  left: -140%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 1%;
}

.tooltip3:hover .tooltipright3{
  visibility: visible;
  opacity: 1;
}

.green:hover circle{
  fill: #527a5f;
}

/* ```````````````````````````````````````````````````````````````````````````````````````````````` */

.tooltip4{
  position: relative;
  display: inline-block;
}

.tooltip4 .tooltipright4{
  visibility: hidden;
  width: 100px;
  font-size: 20px;
  background-color: transparent;
  color: #006699;
  text-align: center;
  border:2px solid white;
  border-radius: 30px;
  padding: 20px ;
  position: absolute;
  z-index: 1;
  top:325%;
  left: -275%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 1%;
}

.tooltip4:hover .tooltipright4{
  visibility: visible;
  opacity: 1;
}

#purple:hover circle{
  fill: #735095;
}

/* ```````````````````````````````````````````````````````````````````````````````````````````````` */

.tooltip5{
  position: relative;
  display: inline-block;
}

.tooltip5 .tooltipright5{
  visibility: hidden;
  width: 100px;
  font-size: 20px;
  background-color: transparent;
  color: #006699;
  text-align: center;
  border:2px solid white;
  border-radius: 30px;
  padding: 20px ;
  position: absolute;
  z-index: 1;
  top:30%;
  left: 25%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 1%;
}

.tooltip5:hover .tooltipright5{
  visibility: visible;
  opacity: 1;
}

#yellow:hover circle{
  fill: #fbd951;
}

/* ````````````````````````````````````````````````````````````pink photo modal`````````````` */

#myImg {
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top:17%;
  margin-left: 49%;
  transition: 0.3s;
  transform: rotate(20deg);
}

#myImg:hover {opacity: 0.5;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 950px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 23px;
  padding-top: 3%;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



/* `````````````````````````````````````````````````````blue````1111111modal````````````````` */


#myImg1 {
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top:-5%;
  margin-left: 40%;
  transition: 0.3s;
  transform: rotate(130deg);
}

#myImg1:hover {opacity: 0.5;}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content1 {
  margin: auto;
  display: block;
  width: 45%;
  max-width: 950px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption1 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  font-size: 23px;
  padding-top: 3%;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content1, #caption1 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close1 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close1:hover,
.close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ``````````````````````````````````````````````````green``````2222222modal`````````````````````````` */
#myImg2 {
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top:-5%;
  margin-left: 56%;
  transition: 0.3s;
  transform: rotate(-10deg);
}

#myImg2:hover {opacity: 0.5;}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content2 {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 950px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 23px;
  padding-top: 3%;
}

/* Add Animation - Zoom in the Modal */
.modal-content2, #caption2 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close2 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ````````````````````````````````````````````````purple`````````333333modal````````````````````` */
#myImg3 {
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top:-5%;
  margin-left: 43%;
  transition: 0.3s;
  transform: rotate(-20deg);
}

#myImg3:hover {opacity: 0.5;}

/* The Modal (background) */
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content3 {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 950px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 23px;
  padding-top: 3%;
}

/* Add Animation - Zoom in the Modal */
.modal-content3, #caption3 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close3 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close3:hover,
.close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ``````````````````````````````````````````````````yellow```````````444444modal````````````` */
#myImg4 {
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top:-5%;
  margin-left: 61%;
  transition: 0.3s;
  transform: rotate(120deg);
}

#myImg4:hover {opacity: 0.5;}

/* The Modal (background) */
.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content4 {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 950px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption4 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 23px;
  padding-top: 3%;
}

/* Add Animation - Zoom in the Modal */
.modal-content4, #caption4 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close4 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close4:hover,
.close4:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* `````````````````````````````````````````````pink````````````555555modal`````````````````` */
#myImg5 {
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top:-5%;
  margin-left: 35%;
  transition: 0.3s;
  transform: rotate(20deg);
}

#myImg5:hover {opacity: 0.5;}

/* The Modal (background) */
.modal5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content5 {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 950px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption5 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 23px;
  padding-top: 3%;
}

/* Add Animation - Zoom in the Modal */
.modal-content5, #caption5 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close5 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close5:hover,
.close5:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ``````````````````````````````````````blue``````````````6666666modal``````````````````````````` */
#myImg6 {
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top:-5%;
  margin-left: 53%;
  transition: 0.3s;
}

#myImg6:hover {opacity: 0.5;}

/* The Modal (background) */
.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content6 {
  margin: auto;
  display: block;
  width: 33%;
  max-width: 950px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption6 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 23px;
  padding-top: 3%;
}

/* Add Animation - Zoom in the Modal */
.modal-content6, #caption6 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close6 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close6:hover,
.close6:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* `````````````````````````````````````````purple video``````````````````````````````````` */

#myImg7 {
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top:-10%;
  margin-left: 60%;
  transition: 0.3s;
  transform: rotate(20deg)

}

#myImg7:hover {opacity: 0.5;}

/* The Modal (background) */
.modal7 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content7 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 950px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption7 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 23px;
  padding-top: 3%;
}

/* Add Animation - Zoom in the Modal */
.modal-content7, #caption7 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close7 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close7:hover,
.close7:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ``````````````````````````````````````````````````yellow project`````````````````````````````` */


#myImg8 {
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top:-10%;
  margin-left: 40%;
  transition: 0.3s;
  transform: rotate(-20deg)

}

#myImg8:hover {opacity: 0.5;}

/* The Modal (background) */
.modal8 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content8 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 950px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption8 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 23px;
  padding-top: 3%;
}

/* Add Animation - Zoom in the Modal */
.modal-content8, #caption8 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close8 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close8:hover,
.close8:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ```````````````````````````````````````````````````````````````````````````````````````````````` */













@media only screen and (max-width: 600px) {
  body {
  }
}
